/lesson-info.yaml
/task/out/production/classes/mealplanner/MainKt.class
/task/out/production/classes/META-INF/Meal_Planner__Kotlin_-task.kotlin_module
/task/test/MealPlannerTest.kt
/Add meals/task.html
/Create a menu/task.html
/Database storage/task.html
/Shopping list/task.html
/Show saved meals/task.html
/Weekly plan/task.html
/Add meals/task-info.yaml
/Create a menu/task-info.yaml
/Database storage/task-info.yaml
/Shopping list/task-info.yaml
/Show saved meals/task-info.yaml
/Weekly plan/task-info.yaml
/Add meals/task-remote-info.yaml
/Create a menu/task-remote-info.yaml
/Database storage/task-remote-info.yaml
/Shopping list/task-remote-info.yaml
/Show saved meals/task-remote-info.yaml
/Weekly plan/task-remote-info.yaml
